<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  About Me!  </title>
</head>
<body>
<h1> <strong> About Me </strong> </h1>
    <p> Hi! My name is Rudra Soni. I am a student at the <em>University of Maryland</em>. </p>

<h2> <strong> Education </strong> </h2>
    <p> I am a senior studying <strong>Information Systems</strong> and <strong>Marketing</strong>. I am also in the Plus 1 program, working towards getting my Masters in Information Systems and AI. </p>

<h2> <strong> My Interests </strong> </h2>
    <p> I am interested in technology, business and AI. Outside of school, I <em>love</em> to read, paint, cook, and travel!</p>
<!-- these are the things I love to do in my free time :) -->
<h2> <strong> My Hobbies </strong> </h2>
    <ul>
        <li>Reading </li>
        <li>Painting</li>
        <li>Cooking</li>
        <li>Traveling</li>
    </ul>

<h2> <strong> My Goals </strong> </h2>
    <ol>
        <li> Graduate from UMD with my Bachelor's Degree</li>
        <li> Complete my Master's Degree</li>
        <li>Start my career doing what I like</li>
        <li>Travel and experience the world</li>
    </ol>
<!-- these are all the IS classes I have taken during each semester -->
<h2><strong>Courses I Have Taken</strong></h2>
    <table>
       <tr>
            <th>Course</th>
         <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT 402</td>
         <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT 403</td>
            <td>Spring 2026</td>
        </tr>
        <tr>
            <td>BMGT 407</td>
            <td>Fall 2026</td>
        </tr>
    </table>
<!-- these are the links to my favorite websites -->
<h2>Links</h2>
    <p>A link to my <a href="/hello">Hello page</a></p>
    <p>My Pinterest Page <a href="https://www.pinterest.com/">Pinterest</a></p>
    <p>YouTube: <a href="https://www.youtube.com/" target="_blank">YouTube</a></p>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267"  height="72"  alt="Robert H. Smith School of Business Logo">



</body>
</html>